.groovy{
    display:flex;
    justify-content: center;
    align-items: center;
}

.resize{
    height: 10rem;
    width: 10rem;
    padding: 1em;  
}
.textSize {
    display: flex;
    justify-content: center;
    flex: 1;
}
.tastyJams{
    flex: 2;
    text-size-adjust: 1px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}
.tastyTitle{
    text-size-adjust: 10rem;
    padding: 0px;
    margin: 0px;
}
