
@import url("./warGraphic.css");

* {
    border: dotted brown;
}

@import url("./centerImage.css");



.title {
    color: rgb(68, 0, 255);
    transform: translate(30px, 20px) rotate(20deg);
    width: 140px;
    height: 60px;
    text-decoration-style: wavy;
}
body {
    background-color: darkorchid;
    background: repeating-linear-gradient(
  45deg,
  #990862,
  #990862 10px,
  #469879 10px,
  #469879 20px);
}